

@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

body {
	/* background: #171717; */
	background: #171717;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	/* padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; */
	/* Centraliza verticalmente */
	/* justify-content: flex-start; */
	/* centraliza horizontalmente */
	/* flex-direction: column; */
	overflow: hidden; /*colocado para não ter barras de scroll*/
	/* border: 1px dotted white; */
}


body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../assets/background.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1; /* Coloca a imagem atrás de outros elementos */
    filter: brightness(0.35); /* Ajuste o valor para controlar o escurecimento */
}


#reg {
	background: #171717;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	overflow: hidden;
}

#registerForm {
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), 0 -15px 15px rgba(0, 0, 0, 0.3);
}

#signInForm {
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), 0 -15px 15px rgba(0, 0, 0, 0.3);
}

.input-error {
    border: 2px solid red; /* Cor de borda para inputs vazios */
}


#body_error {
	background: #171717;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
}

.container_error {
	width: 60%;
	height: 60%;
	margin: auto;
}

#h1_error {
	font-size: 100px;
}

.error-text,
.replacement-text {
	font-size: 50px;
	font-weight: 600;
	opacity: 1;
	transition: opacity ease-out;
}

.replacement-text {
    position: absolute;
    opacity: 0;
}

#h2_error:hover .error-text {
	position: absolute;
    opacity: 0;
}

#h2_error:hover .replacement-text {
    opacity: 1; 
	position: relative;
	font-weight: 2000;
	color: #09d3dae7;
}

#a_error:link,
#a_error:visited {
	text-decoration: none;
	color: #fff;
}

#h3_error a:hover {
	text-decoration: none;
	/* background: #fff; */
	color: #09d3dae7;
	cursor: pointer;
	/* padding: 5px 10px;
	border-radius: 10px; */
}

/* @media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
} */

/* retirar a setinha no botão dropdown */
#mydrop::after {
	content: none;
  }

.rounded-circle {
	width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 40px; /* Ajuste o tamanho conforme necessário */
    object-fit: cover; /* Garantir que a imagem se ajuste ao espaço do botão */
}


@media (max-width: 991px) {
    .navbar-nav .btn {
        width: 200px;
        margin-bottom: 10px;
    }
    .navbar-nav.ms-auto {
        margin-top: 10px;
        flex-direction: column;
    }

}
