/* Estilização padrão para os itens da lista */
.user-item {
	padding-left: 20px;
	cursor: pointer;
	position: relative;
}

.user-item:hover {
	padding-left: 20px;
	cursor: pointer;
	position: relative;
	border: 1px solid #8840bf;
}

/* Estilização para o usuário selecionado */
.user-item.selected {
	background-color: #8840bf;
	color: white;
	font-weight: bold;
}



/* Ajusta o texto para não se sobrepor ao quadrado */
.user-item.selected {
	padding-right: 25px;
}

ul {
	list-style-type: none;
	padding: 0;
}

.chat-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.users-list {
	width: 20%;
	border-right: 1px solid #ccc;
	padding: 8px;
	padding-top: 12px;
	color: yellowgreen;
}

.chat-window {
	width: 80%;
	display: flex;
	flex-direction: column;
	padding: 10px;
	padding-top: 7px;
}

.messages {
	flex: 1;
	overflow-y: auto;
	border-bottom: 1px solid #ccc;

}

.message-input {
	display: flex;
	padding: 10px;
}

.message-input input {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.message-input button {
	padding: 10px 20px;
	background-color: #007bff90;
	color: white;
	border-radius: 5px;
	margin-left: 10px;
}

.message-private {
    background-color: #f8d7da90;
    color: #721c24;
    padding: 5px;
    margin: 5px 0;
	border-radius: 5px
}

.message-system {
    background-color: #d1ecf190;
    color: #0c5460;
    padding: 5px;
    margin: 5px 0;
	border-radius: 5px
}

.message-selfdm {
    background-color: #d4edda90;
    color: #155724;
    padding: 5px;
    margin: 5px 0;
	border-radius: 5px
}

.message-error {
    background-color: #f8d7da90;
    color: #721c24;
    padding: 5px;
    margin: 5px 0;
	border-radius: 5px
}

.message-default {
    background-color: #ffffff90;
    color: #000000;
    padding: 5px;
    margin: 5px 0;
	border-radius: 5px
}

.message-sender {
    font-weight: bold;
}

.message-content {
    display: inline-block;
    margin-left: 5px;
    color: #ffffff;
}

/* .btn {
	text-align: left;
} */

.btn-group {
	width: 100%;
	padding: 1px;
}

.btn-left {
	width: 90%;
}

.btn-right {
	width: 10%;
}

.btn-secondary {
	--bs-btn-bg: #05fe2260;
	--bs-btn-color: #fff;
	--bs-btn-border-color: #00000000;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #fe05e160;
	--bs-btn-hover-border-color: #00000000;
	--bs-btn-focus-shadow-rgb: 130, 138, 145;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #fe05e160;
	--bs-btn-active-border-color: #00000000;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #05fe2260;
	--bs-btn-disabled-border-color: #00000000;
}

.dropdown-menu {
	--bs-dropdown-min-width: 0;
	--bs-dropdown-padding-y: 0;
	--bs-dropdown-link-hover-bg: #fe05e160;
}

.dropdown-toggle-split {
	--bs-btn-bg: #05fe2260;
	--bs-btn-color: #fff;
	--bs-btn-border-color: #00000000;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #fe05e160;
	--bs-btn-hover-border-color: #00000000;
	--bs-btn-focus-shadow-rgb: 130, 138, 145;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #fe05e160;
	--bs-btn-active-border-color: #00000000;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #05fe2260;
	--bs-btn-disabled-border-color: #00000000;

}