.user-item {
	padding-left: 20px;
	cursor: pointer;
	position: relative;
}

.user-item:hover {
	padding-left: 20px;
	cursor: pointer;
	position: relative;
	border: 1px solid #8840bf;
}

.user-item.selected {
	background-color: #8840bf;
	color: white;
	font-weight: bold;
}

.user-item.selected {
	padding-right: 25px;
}

ul {
	list-style-type: none;
	padding: 0;
}

.chat-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.users-list {
	width: 20%;
	border-right: 1px solid #ccc;
	padding: 8px;
	padding-top: 12px;
	color: yellowgreen;
}

.chat-window {
	width: 80%;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 12px;
	padding-top: 7px;
}

.end-game-result {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.end-game-button {
	width: 100%;
	margin: 5px;
}

.messages {
	overflow-y: auto;
	border-bottom: 1px solid #ccc;
	padding-right: 10px;
	height: 455px;
	width: 100%;
}

.message-input {
	display: flex;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
}

.message-input input {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.message-input button {
	padding: 10px 20px;
	background-color: #007bff90;
	color: white;
	border-radius: 5px;
	margin-left: 10px;
}

.message-private {
	background-color: #f8d7da90;
	color: #721c24;
	padding: 5px;
	margin: 5px 0;
	border-radius: 5px;
}

.message-system {
	background-color: #d1ecf190;
	color: #0c5460;
	padding: 5px;
	margin: 5px 0;
	border-radius: 5px;
}

.message-selfdm {
	background-color: #d4edda90;
	color: #155724;
	padding: 5px;
	margin: 5px 0;
	border-radius: 5px;
}

.message-error {
	background-color: #f8d7da90;
	color: #721c24;
	padding: 5px;
	margin: 5px 0;
	border-radius: 5px;
}

.message-default {
	background-color: #ffffff90;
	color: #000000;
	padding: 5px;
	margin: 5px 0;
	border-radius: 5px;
	display: flex;
	justify-content: start;
	align-items: center;
}

.message-invite {
	background-color: #ffffff90;
	color: #000000;
	padding: 5px;
	margin: 5px 0;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.message-invite-response {
	background-color: #c9ffd690;
	color: #155724;
	padding: 5px;
	margin: 5px 0;
	border-radius: 5px;
}

.message-sender {
	font-weight: bold;
}

.message-content {
	display: inline-block;
	margin-left: 5px;
	color: #000;
}

.btn {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.btn-group {
	width: 100%;
	padding: 1px;
}

.btn-left {
	width: 90%;
}

.btn-right {
	width: 10%;
}

.btn-secondary {
	border: 1px solid #3b6e22;
	box-shadow: inset 0px 1px 0px 0px #9acc85;
	--bs-btn-bg: #05fe2260;
	--bs-btn-color: #fff;
	--bs-btn-border-color: #00000000;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #fe05e160;
	--bs-btn-hover-border-color: #00000000;
	--bs-btn-focus-shadow-rgb: 130, 138, 145;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #fe05e160;
	--bs-btn-active-border-color: #00000000;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #05fe2260;
	--bs-btn-disabled-border-color: #00000000;
}

.dropdown-menu {
	--bs-dropdown-min-width: 0;
	--bs-dropdown-padding-y: 0;
	--bs-dropdown-link-hover-bg: #fe05e160;
}

.dropdown-toggle-split {
	--bs-btn-bg: #05fe2260;
	--bs-btn-color: #fff;
	--bs-btn-border-color: #00000000;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #fe05e160;
	--bs-btn-hover-border-color: #00000000;
	--bs-btn-focus-shadow-rgb: 130, 138, 145;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #fe05e160;
	--bs-btn-active-border-color: #00000000;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #05fe2260;
	--bs-btn-disabled-border-color: #00000000;
}

.button-container {
	display: flex;
	gap: 10px;
}

.reject-button {
	box-shadow: inset 0px 1px 0px 0px #cf866c;
	background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color: #d0451b;
	border-radius: 4px;
	border: 1px solid #942911;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'CustomFont';
	font-size: 12px;
	padding: 3px 24px;
	text-decoration: none;
}

.reject-button:hover {
	background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color: #bc3315;
}

.reject-button:active {
	position: relative;
	top: 1px;
}

.accept-button {
	box-shadow: inset 0px 1px 0px 0px #9acc85;
	background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color: #74ad5a;
	border-radius: 4px;
	border: 1px solid #3b6e22;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'CustomFont';
	font-size: 12px;
	font-weight: bold;
	padding: 3px 24px;
	text-decoration: none;
}

.accept-button:hover {
	background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color: #68a54b;
}

.accept-button:active {
	position: relative;
	top: 1px;
}

.invite-pending {
	position: absolute;  /* ou fixed, se precisar de uma posição fixa na tela */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8); /* pode usar uma cor semitransparente */
	color: white;
	z-index: 10; /* z-index maior para sobrepor os outros */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}