* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'PongFont';
	src: url('../fonts/pump.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

.pong-box {
	position: relative;
	width: 960px;
	height: 560px;
	margin: auto;
	border: 10px solid #fff;
	border-radius: 15px;
}

.pong-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #000;
}

#pongBackgroundCanvas,
#pongCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#pongBackgroundCanvas {
	z-index: 0;
	background-color: #000;
}

#pongCanvas {
	z-index: 1;
}