.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.profile-left {
    border-right: 1px solid #ddd;
	background-color: rgba(255, 255, 255);
    flex: 1;
    max-width: 300px;
	height: 100%;
    text-align: center;
	overflow: auto;
	display: flex;
	justify-content: baseline;
	align-items: center;
	flex-direction: column;
}

.profile-left h3 {
    margin-bottom: 20px;
}

.profile-left img {
    border-radius: 50%;
    border: 2px solid #ddd;
	height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    object-fit: cover;
    width: 250px;
}

.profile-right {
	background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    flex: 1;
	padding-right: 20px;
	padding-left: 20px;
	overflow-y: scroll;
}

.profile-title {
    color: #0056b3;
    font-family: 'CustomFont';
    font-size: 20px;
    margin-top: 35px;
	margin-bottom: 10px;
}

.profile-info {
    margin-bottom: 10px;
}

.profile-info label {
    font-size: 1.5em;
    font-weight: bold;
}

.profile-description {
    font-size: 1.2em;
    margin-left: 10px;
}

.friends-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
}

.friends-title {
    color: #0056b3;
    font-family: 'CustomFont';
    font-size: 1.0em;
    margin-bottom: 15px;
}

.friends-table {
    border-collapse: collapse;
    width: 90%;
    align-self: center;
}

.friends-table th, .friends-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.friends-table th {
    background-color: #f2f2f2;
}

.game-list {
    border-collapse: collapse;
    width: 100%;
}

.game-list th, .game-list td {
    border: 1px solid #ddd;
    padding: 8px;
}

.game-list th {
    background-color: #f2f2f2;
    text-align: left;
}

.status-icon {
    background-color: grey; /* Default color */
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.status-icon.green {
    background-color: green;
}

.status-icon.red {
    background-color: red;
}

table {
	margin-bottom: 20px;
}