.profile-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
}

.password-box {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
}

.password-title {
	text-align: center;
	color: #af0909;
	font-size: 14px;
	width: 90%;
	margin-block: 20px;
}

.password-requeriments {
	text-align: left;
    color: #272727;
    font-size: 12px;
    width: 90%;
}

.profile-left h3 {
	margin-bottom: 20px;
}

.profile-left {
	border-right: 1px solid #ddd;
	background-color: #ffffffde;
	flex: 1;
	border-radius: 10px;
	max-width: 300px;
	margin: 10px;
	margin-right: 5px;
	text-align: center;
	overflow: auto;
	display: flex;
	justify-content: baseline;
	align-items: center;
	flex-direction: column;
}

.profile-left img {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin-top: 30px;
	margin-bottom: 10px;
	object-fit: cover;
}

.profile-right {
	background-color: #ffffffde;
	display: flex;
	flex-direction: column;
	flex: 1;
	border-radius: 10px;
	margin: 10px;
	margin-left: 5px;
	padding-right: 20px;
	padding-left: 20px;
	overflow-y: scroll;
}

.profile-title {
	color: #fff;
	background: linear-gradient(to right, #d6338491, #d6338491);
	font-family: 'CustomFont';
	font-size: 16px;
	padding: 6px;
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: left;
	border-radius: 10px;
}

.profile-description {
	font-size: 16px;
	margin-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.profile-label {
	font-weight: bold;
}

.bio {
	white-space: wrap;
}

.friends-list {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 80%;
}

.friends-title {
	color: #0056b3;
	font-family: 'CustomFont';
	font-size: 1.0em;
	margin-bottom: 15px;
}

.friends-table {
	border-collapse: collapse;
	width: 90%;
	align-self: center;
}

.friends-table th,
.friends-table td {
	border: 4px solid #ddd;
	border-radius: 14px;
	padding: 8px;
}

.friends-table th:first-child,
.friends-table td:first-child {
	width: 100%;
}

.friends-table th:last-child,
.friends-table td:last-child {
	white-space: nowrap;
	width: 1%;
}

.friends-table th {
	background-color: #f2f2f2;
	text-align: left;
}

.friends-management-table {
	border-collapse: collapse;
	width: 100%;
	height: min-content;
	text-align: center;
}

.friends-management-table th {
	background-color: #f2f2f2;
	border: 4px solid #ddd;
	border-radius: 14px;
	width: 25%;
}

.friends-management-table tr {
	border: 1px solid #ddd;
	height: 40px;
}

.friends-management-table-btn {
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	border-radius: 10px;
}

.status-icon {
	background-color: grey;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	width: 20px;
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.status-icon.green {
	background-color: green;
}

.status-icon.red {
	background-color: red;
}

.matchContainer {
	min-height: 100px;
	max-height: 300px;
	overflow-y: auto;
	width: 100%;
	border: 4px solid #ddd;
	border-radius: 10px;
	padding: 5px;
	box-sizing: border-box;
}

.matchContainer :last-child {
	margin-bottom: 10px;
}

.games-statistics,
.matches-history {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.games-statistics th,
.games-statistics td,
.matches-history th,
.matches-history td {
	border: 4px solid #ddd;
	padding: 8px;
}

.games-statistics td,
.matches-history td {
	text-align: center;
}

.games-statistics th,
.matches-history th {
	position: sticky;
	top: 0;
	background-color: #f2f2f2;
	z-index: 10;
	border: 4px solid #ddd;
	padding: 8px;
	text-align: center;
	border-radius: 14px;
}

.matches-history td:last-child,
th:last-child {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 180px;
}

#editProfile {
	--bs-btn-padding-x: 30px;
	--bs-btn-padding-y: 10px;
	--bs-btn-line-height: 0;
	border-radius: 8px;
	min-height: 30px;
}

.form-profile {
	width: 100%;
	height: 35px;
	font-size: 16px;
	border-radius: 8px;
	padding-left: 10px;
	border: var(--bs-border-width) solid var(--bs-border-color);
}

.form-control-file {
	font-family: 'CustomFont';
	font-size: 12px;
	width: 90%;
}

.update-profile {
	border: 0px solid #0056b3;
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.update-profile tbody {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
}

.update-profile tr {
	display: flex;
	align-items: flex-start;
	flex-grow: 0;
	margin-bottom: 5px;
}

.update-profile tr:last-child {
	flex-grow: 1;
	align-items: stretch;
}

.update-profile td {
	min-width: 90px;
	height: 100%;
}

.update-profile {
	display: flex;
	align-items: flex-start;
}

.update-profile label {
	margin-right: 10px;
	width: 50px;
	line-height: 1;
}

.update-profile input,
.update-profile textarea {
	flex-grow: 1;
	margin: 0;
}

.update-profile td:first-child {
	text-align: left;
	font-weight: bold;
}

.update-profile-center {
	align-content: center;
}

.update-profile td:last-child {
	flex-grow: 1;
	align-content: center;
}

.bio-textarea {
	flex-grow: 1;
	width: 100%;
	border-radius: 8px;
	padding: 10px;
	font-size: 16px;
	border: var(--bs-border-width) solid var(--bs-border-color);
	resize: none;
	height: 100%;
	width: 100%;
}

.bio-textarea-title {
	vertical-align: top;
	padding-top: 5px;
	font-weight: bold;
}

.image-grid img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 2px;
	margin: 2px;
}

.image-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.form-group {
	margin-bottom: 20px;
}

.link-primary {
	text-decoration: none;
	color: #000 !important;
}

.small-card-table {
	width: 100%;
}

.small-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 0px solid #000;
	background-color: #ffffffde;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.small-card-title {
	color: #fff;
	background: linear-gradient(to right, #d6338491, #d6338491);
	font-family: 'CustomFont';
	font-size: 16px;
	padding: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 10px;
	width: 95%;
	align-self: center;
	height: 40px;
}

.small-card-name {
	margin-left: 15px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex-grow: 1;
}

.small-card-image {
	flex-shrink: 0;
}

.small-card-image img {
	border-radius: 50%;
	height: 45px;
	width: 45px;
	margin-top: 0px;
	margin-bottom: 0px;
	object-fit: cover;
	border: 1px solid #ddd;
	margin-left: 10px;
}

.status-icon.small {
	height: 20px;
	width: 20px;
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
	margin-left: 10px;
	flex-shrink: 0;
}

.custom-table-container {
	max-height: 300px;
	/* Define a altura máxima da secção */
	overflow-y: auto;
	/* Ativa o scroll vertical */
	border: 1px solid #ccc;
	/* Adiciona uma borda para melhor visualização */
	padding: 10px;
}

.custom-table {
	width: 100%;
	border-collapse: collapse;
}

.custom-table th,
.custom-table td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.custom-table th {
	background-color: #f4f4f4;
}

.custom-table tr:hover {
	background-color: #f1f1f1;
}