

@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

body {
	/* background: #171717; */
	background: #171717;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	/* padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; */
	/* Centraliza verticalmente */
	/* justify-content: flex-start; */
	/* centraliza horizontalmente */
	/* flex-direction: column; */
	overflow: hidden; /*colocado para não ter barras de scroll*/
	/* border: 1px dotted white; */
}


body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../assets/background.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1; /* Coloca a imagem atrás de outros elementos */
    filter: brightness(0.35); /* Ajuste o valor para controlar o escurecimento */
}

#reg {
	background: #171717;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	overflow: hidden;
}

#registerForm {
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), 0 -15px 15px rgba(0, 0, 0, 0.3);
}

#signInForm {
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), 0 -15px 15px rgba(0, 0, 0, 0.3);
}

.input-error {
    border: 2px solid red; /* Cor de borda para inputs vazios */
}


#body_error {
	background: #171717;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
}

.container_error {
	width: 60%;
	height: 60%;
	margin: auto;
}

#h1_error {
	font-size: 100px;
}

.error-text,
.replacement-text {
	font-size: 50px;
	font-weight: 600;
	opacity: 1;
	transition: opacity ease-out;
}

.replacement-text {
    position: absolute;
    opacity: 0;
}

#h2_error:hover .error-text {
	position: absolute;
    opacity: 0;
}

#h2_error:hover .replacement-text {
    opacity: 1; 
	position: relative;
	font-weight: 2000;
	color: #09d3dae7;
}

#a_error:link,
#a_error:visited {
	text-decoration: none;
	color: #fff;
}

#h3_error a:hover {
	text-decoration: none;
	/* background: #fff; */
	color: #09d3dae7;
	cursor: pointer;
	/* padding: 5px 10px;
	border-radius: 10px; */
}

/* @media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
} */

/* retirar a setinha no botão dropdown */
#mydrop::after {
	content: none;
  }

.rounded-circle {
	width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 40px; /* Ajuste o tamanho conforme necessário */
    object-fit: cover; /* Garantir que a imagem se ajuste ao espaço do botão */
}

/* pagina de profile */

.profile {
	background-color: #171717;
}

.profile-pic {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
}
.profile-container {
	margin-top: 50px;
}
.profile-info {
	padding-left: 20px;
}

.customTooltip {
	position: relative;
	display: inline-block;
}

.customTooltip .customTooltiptext {
	font-size: 12px;
	visibility: hidden;
	width: 150px;
	background-color: whitesmoke;
	color: black;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 10%;
	left: 40%;
	margin-left: -60px;
	
	/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
	opacity: 0;
	transition: opacity 1s;
}

.customTooltip:hover .customTooltiptext {
	visibility: visible;
	opacity: 1;
}


/* Dinamic search */

.teste {
	position: relative;
	/* border: 2px solid red; */
	/* width: 100%; */
}
.results {
	color: black;
	display: none; /* Oculta os resultados inicialmente */
	position: absolute; /* Posiciona os resultados de forma absoluta */
	top: 82%; /* Posiciona abaixo do input */
	left: 0;
	width: 70%; /* Mesma largura que o input */
	background-color: #f8f9fa; /* Cor de fundo dos resultados */
	border-radius: 5px;
	cursor: pointer;
	/* border: 1px solid #ced4da; //Borda dos resultados */
	padding: 10px; /* Espaçamento interno dos resultados */
	z-index: 1000; /* Garante que os resultados fiquem sobre outros elementos */
}

.results.show {
	display: block;
}


@media (max-width: 991px) {
    .navbar-nav .btn {
        width: 200px;
        margin-bottom: 10px;
    }
    .navbar-nav.ms-auto {
        margin-top: 10px;
        flex-direction: column;
    }

}
